# --------------------------------------------------------------------
# Ignore Mac files

.DS_Store

# --------------------------------------------------------------------
# Ignore IntelliJ IDEA files

.idea/
*.iml

# --------------------------------------------------------------------
# Ignore Maven builds

target/
